<h1> 10 Movie names: </h1>

<ul>
    <% data["Search"].forEach(function(movie) { %>
        <li>
            <strong><%= movie["Title"]; %></strong> - 
                <em>{<%= movie["Year"] %>}</em>
        </li>
    <% }); %>
</ul>

<a href="/">Search Again!!</a>