<h1> 10 Movie by search: </h1>


    <% data["Search"].forEach(function(movie) { %>
        <h2>
            <img height=100px src="<%= movie["Poster"]; %>">
            <strong><%= movie["Title"]; %></strong> - 
                <em>{<%= movie["Year"] %>}</em>
        </h2>
    <% }); %>


<a href="/">Search Again!!</a>