<h1> 10 Movie by search: </h1>
<a href="/">Search Again!!</a>

    <ol><font size="5">
        <% data["Search"].forEach(function(movie) { %>
            <li>
                <img height=150px src="<%= movie["Poster"]; %>">
                <strong><%= movie["Title"]; %></strong> - 
                    <em>{<%= movie["Year"] %>}</em>
                <br/> 
           </li>
            ------------------------------------------------------------------------------
        <% }); %>
     </font></ol>

<a href="/">Search Again!!</a>