<!DOCTYPE html>
<html>
    <head>
        <title>MovieSearch</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">   <!-- bootstrap CDN - v4.1.3 -->
    </head>
    <body>
        <h1>Search for a Movie</h1>
        
        <form action="/results" method="GET">
            <input type="text" placeholder="Search Term" name="search">
            <input type="Submit">
        </form>
        
        <a href="https://mogit2020.github.io/myProjects/">BACK</a>
    </body>
</html>