<h1>You like with --> 
    <%= nameVar.toUpperCase() %></h1> <!-- here I am using "toUpperCase()" to show that we can use javascript functionalities within  -->

 <!--no equal sign for logics-->
<% if(nameVar.toLowerCase() === "mohib"){ %>
    <h2><font color="red">Awesome choice!! Mohib is the best...</font></h2>
<% } else { %>
    <h2><font color="red">Bad choice! You should have said Mohib...</font></h2>
<% } %>


<p>P.S. this is the love.ejs file</p>


<font color="red">This is some text!</font>
