<link rel="stylesheet" href="app.css">


<h1>You like --> 
    <%= nameVar.toUpperCase() %></h1> <!-- here I am using "toUpperCase()" to show that we can use javascript functionalities within  -->

 <!--no equal sign for logics-->
<% if(nameVar.toLowerCase() === "mohib"){ %>
    <h2>Awesome choice!! Mohib is the best...</h2>
<% } else { %>
    <h2>Bad choice! You should have said Mohib...</h2>
<% } %>


<p>P.S. this is the love.ejs file</p>
