<h1>You fell in love with --> 
    <%= nameVar.toUpperCase() %></h1> <!-- here I am using "toUpperCase()" to show that we can use javascript functionalities within  -->

<p>P.S. this is the love.ejs file</p>