<% include partials/header %>   <!-- "include" tag is an ejs tag... use it to include other .ejs files... don't add "=" after '<.%'... don't add "/" before "partials" path...-->
    
    <div class="jumbotron text-center">
        <h1>Welcome to YelpCamp!!</h1>
        <br/>
        <br/>
        <a class="btn btn-primary btn-large" 
            href="/campgrounds">View All Campgrounds</a>
        <br/>
        <br/>
        <a class="btn btn-primary btn-large" 
            href="/campgrounds/new">Add New</a>
        <br/>
        <br/>
    </div>
    
<% include partials/footer %>
