<% include partials/header %>   <!-- "include" tag is an ejs tag... use it to include other .ejs files... don't add "=" after '<.%'... don't add "/" before "partials" path...-->
    
    <div class="jumbotron text-center">
        <h1>Photo Gallery</h1>
        <br/>
        <br/>
        <a class="btn btn-primary btn-large" 
            href="/campgrounds">View All Photos</a>
        <br/>
        <br/>
        <a class="btn btn-primary btn-large" 
            href="/campgrounds/new">Add New</a>
        <br/>
        <br/>
        
        <p>Welcome to my Photo Gallery site.</p>
        <p>You can 'View' or 'Add' photos by selecting options above. Thank you.</p>
    </div>
    
<% include partials/footer %>
