<% include partials/header %>
    
    <div class="jumbotron text-center">
        <h1 align="center" style="font-size:4vw;"> Description </h1>        
        <a class="btn btn-primary btn-large" href="/campgrounds" >Back</a>
    </div>
    
    <br/>
    <p align="center" 
       style="font-size:3vw;"><%= campground.name %></p>
    <img style="width: 90%;
         display: block;
         margin-left: auto;
         margin-right: auto;" 
         src=" <%= campground.image %> ">
    
    <br/>
    <p align="center" 
       style="font-size:2vw;">
          <%= campground.description %></p>

<% include partials/footer %>