<% include partials/header %>   <!-- "include" tag is an ejs tag... use it to include other .ejs files... don't add "=" after '<.%'... don't add "/" before "partials" path...-->
    
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Create a New Campground</h1>   <!-- Colt advised not to do inline style but I did it more quick fix... want to center "Heading" -->
            <div style="width: 30%; margin: 40px auto">   <!-- Colt advised not to inline style but for the time being we use it.... -->
                <form action="/campgrounds" method="POST"> <!-- "Here '/campgrounds' refer to "app.post("/campgrounds", func...)", and also you can see 'method="POST"'  ... so it will then add to campgrounds ARRAY.. " -->
                    <div class="form-group">
                        <!-- Name text box -->
                        <input class="form-control" type="text" name="name" placeholder="name">   <!-- We use the 'name' attribute inside our route inorder to grab the data from the "Request.body" command which you will find in "app.js" under "app.post(...)"...  -->
                    </div>
                    <div class="form-group">
                        <!-- Image url text box -->
                        <input class="form-control" type="text" name="image" placeholder="Image url"> 
                    </div>
                    <div class="form-group">
                        <!-- Submit button -->
                         <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                </form>
                <br/>
                <a href="/campgrounds">View All Campgrounds</a>
                <br/>
                <br/>
                <a href="/">Home</a>   <!-- to go back to "landing.ejs"... it refers to what was assigned in "app.get("/", func...)" .. and not "landing"... I made that mistake... -->
            </div>
        </div>
    </div>

<% include partials/footer %>
